**/.DS_Store
nbproject
manifest.mf
build.xml
output
.project
.settings
.idea/*
src/mapp/.idea/*
app/node_*
.tmp/*
.ctags
nohup.out
vorlonjs.log
src/mapp/src/resource/css/style.css
src/mapp/.idea/*
*.log
output.zip
nohup.out
**/.CFUserTextEncoding
**/.DS_Store
**/.Trash/
**/.atom/
**/.bash_history
**/.bash_sessions/
**/.cache/
**/.config/
**/.cups/
**/.local/
**/.node-gyp/
**/.node_repl_history
**/.npm/
**/.npmrc
**/.oracle_jre_usage/
**/.sogouinput/
**/.ssh/
**/.v8flags.5.0.71.35.bjhl.json
**/.viminfo
**/.vue-templates/
**/Applications/
**/Documents/
**/Downloads/
**/Library/
**/Movies/
**/Music/
.**/Pictures/
**/Public/
"**/\347\231\276\345\272\246\344\272\221\345\220\214\346\255\245\347\233\230/"